<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

	<display-name>Services Servlet</display-name>
	<description>
		Used to handle incoming requests from the client.
	</description>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<listener>
		<listener-class>eterface.servlets.ServicesServlet</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>ServicesServlet</servlet-name>
		<servlet-class>eterface.servlets.ServicesServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServicesServlet</servlet-name>
		<url-pattern>/login/userList</url-pattern>
		<url-pattern>/viz/initUser</url-pattern>
		<url-pattern>/viz/dir/peek</url-pattern>
		<url-pattern>/services/read</url-pattern>
	</servlet-mapping>
</web-app>